<div class="card">
    <a href="/questionnaires/{{this.id}}">
        <div class="card-header">
            <h5 class="card-title"><i class="fas fa-question-circle"></i> {{this.title}}</h5>
        </div>
    </a>
    <div class="card-body">

        <h4>Question count: {{this.questions.length}}</h4>

    </div>
    <div class="card-footer">
        <h5 class="card-title">Submissions: {{this.submissions}}</h5>
        <a class="btn btn-success" href="/questionnaires/edit/{{this.id}}"><i class="fas fa-user-edit"></i>Edit</a>
        <form action="/questionnaires/delete/{{this.id}}" method="POST">

            <input type="submit" value="Remove" class="btn btn-danger" href="/questionnaires/delete/{{this.id}}"><i
                class="fas fa-user-remove"></i></input>
        </form>
    </div>

</div>
