<div class="card">
    <div class="card-header">
        <h5 class="card-title"><i class="fas fa-question-circle"></i> {{this.title}}</h5>
    </div>
    <div class="card-body">
        {{!-- < class="card-text">Questions: {{this.questions}} --}}
        {{!-- <ul> --}}
        {{!-- {{#each this.questions}} --}}
        {{!-- <li>{{this.title}}</li> --}}
        <h4>Question count: {{this.questions.length}}</h4>
        {{!-- <ul>
                {{#each this.options}}
                <li>Option: {{this.option}} /
                    Correctness: {{this.correctness}}
                </li>
                {{/each}}
            </ul> --}}
        {{!-- {{/each}}
        </ul> --}}
        {{!-- </p> --}}
    </div>
    <div class="card-footer">
        <h5 class="card-title">Submissions: {{this.submissions}}</h5>
        <a class="btn btn-success" href="/questionnaires/edit/{{this.id}}"><i class="fas fa-user-edit"></i>Edit</a>
        <a class="btn btn-danger" href="/questionnaires/delete/{{this.id}}"><i class="fas fa-user-remove"></i>Remove</a>
    </div>
</div>
